<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goevents.online.messengertabs">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Science PH"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" />

        <action android:name="android.intent.action.MAIN" />

        <activity android:name=".Activities.Splash"/>
        <activity android:name=".Activities.login" />
        <activity android:name=".Activities.register"/>
        <activity android:name=".Activities.SplashDost">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>